<h1>Release note</h1>
<a id="canvas-link" href="/canvas/new">web canvas</a>
<div class="canvas-area">
<br />
<h3>2017/8/17 : Ver. 1.2</h3>
<pre>
* もどすボタンで描いた線をもどせる
</pre>
<h3>2017/8/12 : Ver. 1.1</h3>
<pre>
* 画像をキャンバスの背景にできる
</pre>
<h3>2017/8/6 : Ver. 1.0</h3>
<pre>
* PC・スマホで線を描ける
* 描いた絵をクリアできる
* 描いた絵はダウンロードできる
</pre>
</div>