<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebApplication" lang="ja">
<head>
  <title>スマホで写真に楽らくお絵かき | 楽がき </title>
  <meta content="らくがき,写真,お絵かき,ダウンロード,楽がき,Rakugaki" name="keywords" >
  <meta content="スマートフォンであなたの写真に指を使って楽に絵をかけます。かいた絵はダウンロードでき、友達や家族と共有できます。" name="description">
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<%= yield %>
<footer>
  <div id="footer">
    &copy; 2017 hirokwgch
  </div>
</footer>
</body>
</html>